@page "/"

<h1>Egyenleg</h1>

<br />

@if (Balance is null)
{
    <div>Adatok betöltése...</div>
}
else
{
    <p>Teljes: @Balance.Full Ft</p>
    <p>Készpénz: @Balance.Cash Ft</p>
    <p>Bankszámla: @Balance.BankAccount Ft</p>
}