@page "/"
@inject IBalanceService _balanceService
@attribute [Authorize]

<h1>Egyenleg</h1>

<br />

@if (_balance is null)
{
    <div>Adatok betöltése...</div>
}
else
{
    <p>Teljes: @_balance.Full Ft</p>
    <p>Készpénz: @_balance.Cash Ft</p>
    <p>Bankszámla: @_balance.BankAccount Ft</p>
}

@code {
    private BalanceResponse _balance;

    protected override async Task OnInitializedAsync()
    {
        _balance = await _balanceService.GetAsync();
    }
}