@page "/login"
@inherits WalletComponentBase<LoginRequest, IAuthenticationService>

<h1>Bejelentkezés</h1>

<Alert Message="@ErrorMessage" />

<EditForm EditContext="_editContext" OnValidSubmit="LoginAsync" class="card card-body bg-light mt-5">
    <FluentValidationValidator />

    <FormInput For="username" Label="Felhasználónév" ValidationFor="() => Data.UserName">
        <InputText id="username" class="form-control" @bind-Value="Data.UserName" />
    </FormInput>

    <FormInput For="password" Label="Jelszó" ValidationFor="() => Data.Password">
        <InputText id="password" type="password" class="form-control" @bind-Value="Data.Password" />
    </FormInput>

    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Bejelentkezés</button>
        </div>
    </div>
</EditForm>

@code {

    private EditContext _editContext;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _editContext = new EditContext(Data);
        _editContext.SetFieldCssClassProvider(new CustomFieldClassProvider());
    }

    private async Task LoginAsync()
    {
        await HandleRequest(
            () => Service.LoginAsync(Data),
            onSuccess: () => NavigationManager.NavigateTo("/"),
            errorMessage: "Bejelentkezés sikertelen!");
    }

}