@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>@context.User.FindFirst("sub").Value</span>
                    <NavLink class="nav-link" href="logout">Kijelentkezés</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">Bejelentkezés</NavLink>
                    <NavLink class="nav-link" href="register">Regisztráció</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>