@page "/"
@inherits WalletBase

<h1>Egyenleg</h1>

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <div class="mt-4">
        <p>Teljes: @ViewModel.Full Ft</p>
        <p>Készpénz: @ViewModel.Cash Ft</p>
        <p>Bankszámla: @ViewModel.BankAccount Ft</p>
    </div>
}

@code {

    protected override async Task SetViewModelAsync()
    {
        await HandleRequestAsync(
            () => Service.GetAsync(),
            result => ViewModel = result);
    }

}