@page "/"
@inherits WalletBase

<h1>Balance</h1>

@if (IsLoading)
{
    <div>Loading data...</div>
}
else
{
    <div class="mt-4">
        <p>Full: @ViewModel.Full Ft</p>
        <p>Cash: @ViewModel.Cash Ft</p>
        <p>Bank account: @ViewModel.BankAccount Ft</p>
    </div>
}

@code {

    protected override async Task SetViewModelAsync() =>
        await HandleRequestAsync(
            () => Service.GetAsync(),
            result => ViewModel = result);

}