@page "/login"
@inherits WalletComponentBase<DevQuarter.Wallet.Application.Authentication.LoginRequest, IAuthenticationService>

<h1>Bejelentkezés</h1>

<Alert>@ErrorMessage</Alert>

<EditForm Model="Data" OnValidSubmit="LoginAsync" class="card card-body bg-light mt-5">
    <FluentValidationValidator />

    <FormInput ValidationFor="() => Data.UserName">
        <FluentTextField @bind-Value="Data.UserName">Név:</FluentTextField>
    </FormInput>

    <FormInput ValidationFor="() => Data.Password">
        <FluentTextField TextFieldType="TextFieldType.Password" @bind-Value="Data.Password">Jelszó:</FluentTextField>
    </FormInput>

    <FormSubmit Title="Bejelentkezés" />
</EditForm>

@code {

    private async Task LoginAsync()
    {
        await HandleRequestAsync(
            () => Service.LoginAsync(Data),
            onSuccess: () => NavigationManager.NavigateTo("/"),
            errorMessage: "Bejelentkezés sikertelen!");
    }

}