@page "/login"
@inherits UserBase<LoginRequest>

<h1>Log in</h1>

<FluentCard Width="100%" Height="auto">
    <EditForm Model="ViewModel" OnValidSubmit="LoginAsync">
        <FluentValidator />

        <FormInput ValidationFor="() => ViewModel.UserName">
            <FluentTextField Label="Username:" Required @bind-Value="ViewModel.UserName" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.Password">
            <FluentTextField Label="Password:" Required TextFieldType="TextFieldType.Password" @bind-Value="ViewModel.Password" />
        </FormInput>

        <FormSubmit Title="Log in" />
    </EditForm>
</FluentCard>

@code {

    protected override Task SetViewModelAsync()
    {
        ViewModel = new LoginRequest();
        return Task.CompletedTask;
    }

    private async Task LoginAsync() =>
        await HandleRequestAsync(
            () => Service.LoginAsync(ViewModel),
            () => NavigationManager.NavigateTo("/"));

}