@page "/register"
@inherits UserBase<RegistrationRequest>

<h1>Regisztráció</h1>

<FluentCard Width="100%" Height="auto">
    <EditForm Model="ViewModel" OnValidSubmit="RegisterAsync">
        <FluentValidationValidator />

        <FormInput ValidationFor="() => ViewModel.UserName">
            <FluentTextField @bind-Value="ViewModel.UserName">Felhasználónév:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.LastName">
            <FluentTextField @bind-Value="ViewModel.LastName">Vezetéknév:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.FirstName">
            <FluentTextField @bind-Value="ViewModel.FirstName">Keresztnév:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.Email">
            <FluentTextField TextFieldType="TextFieldType.Email" @bind-Value="ViewModel.Email">E-mail cím:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.EmailConfirm">
            <FluentTextField TextFieldType="TextFieldType.Email" @bind-Value="ViewModel.EmailConfirm">Email cím megerősítése:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.Password">
            <FluentTextField TextFieldType="TextFieldType.Password" @bind-Value="ViewModel.Password">Jelszó:</FluentTextField>
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.PasswordConfirm">
            <FluentTextField TextFieldType="TextFieldType.Password" @bind-Value="ViewModel.PasswordConfirm">Jelszó megerősítése:</FluentTextField>
        </FormInput>

        <FormSubmit Title="Regisztráció" />
    </EditForm>
</FluentCard>

@code {

    protected override Task SetViewModelAsync()
    {
        ViewModel = new RegistrationRequest();
        return Task.CompletedTask;
    }

    private async Task RegisterAsync()
    {
        await HandleRequestAsync(
            () => Service.RegisterAsync(ViewModel),
            () => NavigationManager.NavigateTo("/"));
    }

}