@page "/register"
@inherits UserBase<RegistrationRequest>

<h1>Registration</h1>

<FluentCard Width="100%" Height="auto">
    <EditForm Model="ViewModel" OnValidSubmit="RegisterAsync">
        <FluentValidator />

        <FormInput ValidationFor="() => ViewModel.UserName">
            <FluentTextField Label="Username:" Required @bind-Value="ViewModel.UserName" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.FirstName">
            <FluentTextField Label="First name:" Required @bind-Value="ViewModel.FirstName" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.LastName">
            <FluentTextField Label="Last name:" Required @bind-Value="ViewModel.LastName" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.Email">
            <FluentTextField Label="E-mail address:" Required TextFieldType="TextFieldType.Email" @bind-Value="ViewModel.Email" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.EmailConfirm">
            <FluentTextField Label="Confirm e-mail address:" Required TextFieldType="TextFieldType.Email" @bind-Value="ViewModel.EmailConfirm" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.Password">
            <FluentTextField Label="Password:" Required TextFieldType="TextFieldType.Password" @bind-Value="ViewModel.Password" />
        </FormInput>

        <FormInput ValidationFor="() => ViewModel.PasswordConfirm">
            <FluentTextField Label="Confirm password:" Required TextFieldType="TextFieldType.Password" @bind-Value="ViewModel.PasswordConfirm" />
        </FormInput>

        <FormSubmit Title="Register" />
    </EditForm>
</FluentCard>

@code {

    protected override Task SetViewModelAsync()
    {
        ViewModel = new RegistrationRequest();
        return Task.CompletedTask;
    }

    private async Task RegisterAsync() =>
        await HandleRequestAsync(
            () => Service.RegisterAsync(ViewModel),
            () => NavigationManager.NavigateTo("/"));

}