@page "/transactions/create"
@inherits TransactionFormComponentBase
@attribute [Authorize]

<h1>Új Tranzakció</h1>

<Alert Message="@ErrorMessage" />

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <TransactionForm Transaction="@Data" Categories="@Categories" OnClose="NavigateToTransactions" OnSubmit="CreateAsync" />
}

@code {

    private Task CreateAsync() =>
        HandleRequestAsync(
            () => Service.CreateAsync(UriHelper.TransactionUri, Data),
            onSuccess: NavigateToTransactions,
            errorMessage: "Tranzakció létrehozása sikertelen!");

}