@page "/transactions/create"
@inherits TransactionFormComponentBase
@attribute [Authorize]

<h1>Új Tranzakció</h1>

<Alert>@ErrorMessage</Alert>

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <TransactionForm ViewModel="@Data" Categories="@Categories" OnClose="NavigateToTransactions" OnSubmit="CreateAsync" />
}

@code {

    private Task CreateAsync()
    {
        var request = new TransactionRequest
        {
            Name = Data.Name,
            Comment = Data.Comment,
            BankAmount = Data.BankAmount,
            CashAmount = Data.CashAmount,
            Date = Data.Date,
            CategoryId = Data.CategoryId is not null ? Convert.ToInt64(Data.CategoryId) : null,
            Type = Data.Type,
        };

        return HandleRequestAsync(
            () => Service.CreateAsync(UriHelper.TransactionUri, request),
            onSuccess: NavigateToTransactions,
            errorMessage: "Tranzakció létrehozása sikertelen!");
    }

}