@page "/transactions/edit/{TransactionId:int}"
@inherits TransactionBase<TransactionFormViewModel>

<h1>Tranzakció Módosítás</h1>

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <FluentCard Width="100%" Height="auto">
        <TransactionForm ViewModel="ViewModel" Categories="_categories" OnClose="NavigateToTransactions" OnSubmit="EditAsync" />
    </FluentCard>
}

@code {

    private List<CategoryViewModel> _categories;

    [Parameter]
    public int TransactionId { get; set; }

    protected override async Task SetViewModelAsync()
    {
        await HandleRequestAsync(
            () => Service.GetAsync(TransactionId),
            result => ViewModel = new TransactionFormViewModel
            {
                BankAmount = result.BankAmount,
                CashAmount = result.CashAmount,
                CategoryId = result.CategoryId.ToString(),
                Comment = result.Comment,
                Date = result.Date,
                Name = result.Name,
                Type = result.Type,
            });

        await HandleRequestAsync(
            () => CategoryService.GetAllAsync(),
            result => _categories = result);
    }

    private Task EditAsync()
    {
        var request = new TransactionRequest
        {
            Name = ViewModel.Name,
            Comment = ViewModel.Comment,
            BankAmount = ViewModel.BankAmount,
            CashAmount = ViewModel.CashAmount,
            Date = ViewModel.Date,
            CategoryId = ViewModel.CategoryId is not null ? Convert.ToInt64(ViewModel.CategoryId) : null,
            Type = ViewModel.Type,
        };

        return HandleRequestAsync(
            () => Service.UpdateAsync(TransactionId, request),
            NavigateToTransactions);
    }

}