@inherits LayoutComponentBase
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="page">
    <nav>
        <NavMenu />
    </nav>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <FluentIcon Icon="Icons.Filled.Size20.Person" />
                    <span style="margin-right: 10px">@context.User.FindFirst("fullname")?.Value</span>
                    <FluentButton Appearance="Appearance.Outline" @onclick="LogoutAsync">Log out</FluentButton>
                </Authorized>
                <NotAuthorized>
                    <FluentAnchor Href="login">Log in</FluentAnchor>
                    <FluentAnchor Href="register">Register</FluentAnchor>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            <FluentMessageBarProvider Section="TOP" ClearAfterNavigation="true" NewestOnTop="true" MaxMessageCount="3" Type="MessageType.MessageBar" />
            @Body
        </div>
        <FluentDialogProvider />
    </main>
</div>

@code {

    private async Task LogoutAsync()
    {
        await UserService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }

}