@inherits LayoutComponentBase
@inject IUserService UserService
@inject NavigationManager NavigationManager

<div class="page">
    <nav>
        <NavMenu />
    </nav>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span style="margin-right:10px">@context.User.FindFirst("fullname")?.Value</span>
                    <FluentButton Appearance="Appearance.Outline" @onclick="LogoutAsync">Kijelentkezés</FluentButton>
                </Authorized>
                <NotAuthorized>
                    <FluentAnchor Href="login">Bejelentkezés</FluentAnchor>
                    <FluentAnchor Href="register">Regisztráció</FluentAnchor>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            <FluentMessageBarContainer Section="TOP" ClearAfterNavigation="true" NewestOnTop="true" MaxMessageCount="3" Type="MessageType.MessageBar" />
            @Body
        </div>
        <FluentDialogProvider />
    </main>
</div>

@code {

    private async Task LogoutAsync()
    {
        await UserService.LogoutAsync();
        NavigationManager.NavigateTo("/");
    }

}