<div class="top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Pénztárcák</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-wallet2" aria-hidden="true"></span> Tárcák
            </NavLink>
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-arrow-left-right" aria-hidden="true"></span> Tranzakciók
            </NavLink>
            <NavLink class="nav-link" href="favorites">
                <span class="bi bi-star" aria-hidden="true"></span> Kevencek
            </NavLink>
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-grid" aria-hidden="true"></span> Kategóriák
            </NavLink>
        </li>
    </ul>
</div>

@code {

    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}