@page "/transactions/create"
@inherits TransactionFormComponentBase

<h1>Új Tranzakció</h1>

<ErrorMessageComponent ErrorMessage="@ErrorMessage"></ErrorMessageComponent>

<br />

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <TransactionForm Transaction="@Data" Categories="@Categories" OnClose="NavigateToTransactions" OnSubmit="CreateAsync"></TransactionForm>
}