@page "/transactions/edit/{TransactionId:int}"
@inherits TransactionFormComponentBase
@attribute [Authorize]

<h1>Tranzakció Módosítás</h1>

<ErrorMessageComponent ErrorMessage="@ErrorMessage"></ErrorMessageComponent>

<br />

@if (IsLoading)
{
    <div>Adatok betöltése...</div>
}
else
{
    <TransactionForm Transaction="Data" Categories="Categories" OnClose="NavigateToTransactions" OnSubmit="EditAsync"></TransactionForm>
}

@code {

    [Parameter]
    public int TransactionId { get; set; }

    public Task EditAsync() =>
        HandleRequest(
            () => Service.UpdateAsync(UriHelper.GetTransactionUriWith(TransactionId), Data),
            onSuccess: () => NavigateToTransactions(),
            errorMessage: "Tranzakció módosítás sikertelen!");

    protected override async Task OnInitializedAsync()
    {
        await HandleRequest(
            () => Service.GetAsync<TransactionResponse>(UriHelper.GetTransactionUriWith(TransactionId)),
            onSuccess: r =>
            {
                Data.BankAmount = r.BankAmount;
                Data.CashAmount = r.CashAmount;
                Data.CategoryId = r.CategoryId;
                Data.Comment = r.Comment;
                Data.Date = r.Date;
                Data.Name = r.Name;
                Data.Type = r.Type;
            },
            errorMessage: "Tranzakció lekérés sikertelen!");

        await base.OnInitializedAsync();
    }

}