@inherits ComponentBase

<FluentDialog @ref="_dialog" Hidden="_isDialogHidden" Modal="true" @ondialogdismiss="Close">
    <div class="card h-100">
        <div class="card-header">
            <h5 class="card-title">@Title</h5>
        </div>
        <div class="card-body">
            @Content
        </div>
        <div class="card-footer">
            @Footer
            <FluentButton @onclick="Close">@CloseButtonTitle</FluentButton>
        </div>
    </div>
</FluentDialog>

@code {

    private FluentDialog _dialog;
    private bool _isDialogHidden = true;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public string CloseButtonTitle { get; set; } = "Mégsem";

    public virtual void Close() => _isDialogHidden = true;

    public virtual void Open() => _isDialogHidden = false;

}