@if (ChildContent is null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <FluentIcon Icon="@Icons.Filled.Size20.ErrorCircle" Color="Color.Error" />
        @ChildContent
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code {

    [Parameter]
    public RenderFragment<string> ChildContent { get; set; }

}