<div class="alert alert-danger alert-dismissible @ShownClass" role="alert">
    <FluentIcon Icon="@Icons.Filled.Size20.ErrorCircle" Color="Color.Error" />
    @ErrorMessage
    @if (Closable)
    {
        <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
    }
</div>

@code {

    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public bool Closable { get; set; }

    [Parameter]
    public bool Show { get; set; }

    private string ShownClass => !Closable || (Closable && Show) ? "show" : "collapse";

    private void Close() => Show = false;

}