@if (IsVisible)
{
    <div class="form-input row mb-2">
        <div class="col">
            @ChildContent
            @if (ValidationFor is not null)
            {
                <ValidationMessage For="ValidationFor" />
            }
        </div>
    </div>
}

@code {

    [Parameter]
    public Expression<Func<object>> ValidationFor { get; set; }

    [Parameter]
    public bool IsVisible { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}