<div class="row">
    <div class="col-md-12 text-center">
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">@Title</FluentButton>
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; } = "Mentés";

}